.rules__main{
    padding: 5rem 8rem;
}

.rules__container{
    display: flex;
}

.picture__div{
    width: 40%;
    height: 50%;
}

.picture__div > img{
    height: 55rem;
    width: 90%;
    border-radius: 2rem;
}

.rules__div{
    width: 60%;
    border-radius: 2rem;
}

.rules__div > hr{
    margin: 2rem 0rem;
}

.rules__div > ol{
    font-size: 2rem;
    line-height: 5rem;
    padding-left: 2rem;
}

.rules__cta{
    display: flex;
    justify-content: space-between;
}

.continue__btn > i{
    margin-left: 1rem;
    margin-right: 0rem;
}

.radio{
    justify-content: space-between;
    margin: 2rem 0rem;
}

.radio__input{
    cursor: pointer;
}

.radio > label {
    display: flex;
    align-items: center;
}

.link__tag {
    text-decoration: none;
}

.continue__btn.disabled{
    background-color: var(--dark-secondry-color);
    cursor:wait;
}